@model PagedList.IPagedList<Akanksha.Category>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/bootbox.js"></script>

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript">

 $(document).ready(function() {
    $("#txtSearch").autocomplete({
        source: function(request, response) {
            $.ajax({
                url: "/Category/GetCategories",
                type: "POST",
                dataType: "json",
                data: {
                    keyword: request.term
                },
                success: function(data) {
                    response($.map(data, function(item) {
                        return {
                            label: item,
                            value: item
                        };
                    }))
                },
                error: function() {
                    alert('something went wrong !');
                }
            })
        },
        messages: {
            noResults: "",
            results: ""
        },


    });
    $(".delete").click(function () {
        var categoryid = $(this).attr("data-id");
        bootbox.confirm("Are you want to delete it?", function (result) {
            if (result) {
                $.ajax({
                    url: "/Category/Delete",
                    data: { Id: categoryid },
                    method: "GET",

                    dataType: "json",
                    contentType: "application/json; charset=utf-8",

                    success: function (response) {

                        if (response == "success") {
                            location.reload(true);
                            toastr.success("Department successfully deleted.");
                        }
                     
                            if (response == "alert") {
                                alert("You cannot delete Department......because there are some Categories exists in this department.");

                            }
                          
                        



                        // location.reload(true);

                    },
                    error: function () {
                        toastr.options.timeout = 0;
                        alert("some error occured.");

                    }
                })
            }
        })

    });
}) </script>

@RenderPage("~/Views/Admin/Index.cshtml")
@if (TempData["alert"] != null)
{

    @RenderPage("DeleteAlert.cshtml");
    TempData.Remove("alert");

}

<div class="main" style="border:1px solid black">

    <h2>Categories</h2>

    <p>
        @Html.ActionLink("Create New", "New")
    </p>

    @using (Html.BeginForm("Index", "Category", FormMethod.Get))
    {
        <p>
            Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { id = "txtSearch" })
            <input type="submit" value="Search" />
        </p>
    }


    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter },new { @style = "color:#428bca" })
            </th>

            <th>
                Pic
            </th>
                    
            <th>
                Action
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src=@item.Pic alt="no image" width="100" height="70" />
                </td>
               
                <td>
                    @Html.ActionLink("Edit", "Edit", "Category", new { id = item.CategoryId }, htmlAttributes: new { @class = "btn btn-primary" })  |
                    <a class="btn btn-danger delete" data-id=@item.CategoryId>Delete</a>
                </td>
            </tr>
        }

    </table>

    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

</div>

@section Scripts
{
     
    <script src="@Url.Content("~/Scripts/DropdownInnavbar.js")"></script>

}